/* Colors */
:root {
  --primary-color: #cc312d;
  --secondary-text-color: #606060;
  --text-color: #1a1814;
  --white-color: #ffffff;
}

/* Article */
:root {
  --article-width: 31.7rem;
  --article-height: 32.8rem;
  --border-radius-md: 2.4rem;
  --gap: 1.2rem;
}

article {
  width: var(--article-width);
  height: var(--article-height);
  border-radius: var(--border-radius-md);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

/* Image */
:root {
  --border-radius-sm: 1.6rem;
  --aspect-ratio: 3/2;
  --image-width: 29.3rem;
  --image-height: 19.6rem;
}

.card__image {
  width: var(--image-width);
  height: var(--image-height);
  position: relative;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: var(--aspect-ratio);
  border-radius: var(--border-radius-sm);
}

/* Badge */
:root {
  --card-badge-width: 9.1rem;
  --card-badge-height: 3.2rem;
  --position-top: 1.2rem;
  --position-right: 1.2rem;
}

.card__badge {
  width: var(--card-badge-width);
  height: var(--card-badge-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: var(--position-top);
  right: var(--position-right);
}

.badge__icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.badge__content {
  width: 7.7rem;
  height: 3.2rem;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__badge p {
  color: var(--bg-color);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
}

.card__description {
  width: 29.3rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.2rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.4rem;
}

.card__header--h1 {
  font-weight: 600;
  font-size: 1.4rem;
}

.card__header--h3 {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.card__footer {
  width: 29.3rem;
  height: 4rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card__date {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 180%;
  color: var(--secondary-text-color);
}

.card__link {
  width: 11.1rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
}

.card__continue {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--primary-color);
}

.icon__container {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__container > .icon {
  width: 1.7rem;
  height: 1.3rem;
}

/* دسکتاپ (بالای 1025px) */
@media (min-width: 1025px) {
  article {
    width: 30rem;
    height: 40.7rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .card__image {
    width: 27rem;
    height: 24rem;
  }

  .card__image img {
    aspect-ratio: 3/4;
  }

  .card__description {
    width: 27rem;
    height: 12.7rem;
    gap: 2.4rem;
  }

  .card__header--h1 {
    width: 27rem;
    height: 3.5rem;
    font-size: 1.6rem;
    line-height: 3.5rem;
  }

  .card__header--h3 {
    width: 27rem;
    height: 2.4rem;
  }

  .card__footer {
    width: 27rem;
  }

  .card__link {
    gap: 0.8rem;
  }
}
